@use "@carbon/react/scss/spacing";

.rowActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: spacing.$spacing-03;
  padding: spacing.$spacing-03;
}

.noDataContent {
  padding: spacing.$spacing-07;
}

.tableContent {
  padding: spacing.$spacing-07;
}

.tableColumn {
  margin: 0;
}

.deleteConfirmation {
  margin-top: spacing.$spacing-07;
  font-weight: bolder;
  border: none;
}
:global(
  .cds--checkbox-wrapper
    input:focus:not(:focus-visible)
    + .cds--checkbox-label::before
) {
  outline: none !important;
  box-shadow: none !important;
}

:global(.cds--btn:focus:not(:focus-visible)) {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.deleteButton {
  transition: background-color 0.2s ease;
}

.deleteButton:hover {
  background-color: var(--cds-button-danger-primary) !important;
  color: var(--cds-background) !important;
}

.deleteButton:hover svg {
  fill: var(--cds-icon-on-color);
}

.selectedDelete {
  background-color: var(--cds-layer-hover) !important;
}

.customToast {
  :global(.cds--actionable-notification__action-button) {
    border: 1px solid var(--cds-text-on-color) !important;
    color: var(--cds-text-on-color) !important;
    font-weight: lighter;
    background-color: transparent !important;

    &:hover {
      border: 1px solid var(--cds-text-on-color) !important;
      color: var(--cds-text-on-color) !important;
      background-color: transparent !important;
    }

    &:focus {
      border: 1px solid var(--cds-text-on-color) !important;
      color: var(--cds-text-on-color) !important;
      background-color: transparent !important;
      outline-offset: 2px !important;
    }

    &:active {
      border: 1px solid var(--cds-text-on-color) !important;
      color: var(--cds-text-on-color) !important;
      background-color: var(--cds-layer-active) !important;
    }
  }
}

.exportStatus {
  display: flex;
  align-items: center;
  gap: spacing.$spacing-02;
}
